nav{
    display: flex;
    background-color: #333333;
    justify-content: space-around;
}
li{
    list-style: none;
    display: inline-block;
    color:white;
}
.second-part{
    background-color: #FA5C4F;
}
button{
    background-color: #FA5C4F;
    outline: none;
    border: none;
    border-radius: 7px;
}
footer{
    color: antiquewhite;
}