body, html,.wrapper{
    width: 100%;
    height:100%;
    margin:0;
}
.main{
    background-image: url("../images/comp.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 94%;
}

a{
    text-decoration: none;
    color:black;
    padding: 1.5%;
}
p{
    color: white;
}