body, html,.wrapper{
    width: 100%;
    height:100%;
    margin:0;
}
/* background image */
.main{
    background-image: url("../images/comp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 50%; */
    width: 100%;
    height: 92.6%;
    position: relative;
    /* padding-top: 6%; */
}

a{
    text-decoration: none;
    color:black;
    padding: 1.5%;
}
p{
    color: white;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 40px;
}
.main p:nth-child(2){
    font-family: 'Just Me Again Down Here', cursive;
    font-family: 'Anton', sans-serif;
    letter-spacing: 7px;
    font-weight: 700;    
    font-size: 40px;
}
.main p:nth-child(3){
    font-size: 28px;
}
.main> div{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
/* social media icons */
.icon{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 15px;
    margin-right: 3px;
    display: inline-block;
}
i{
    padding-top: 6px;
}
.icones{
    padding-bottom: 2%;
}
/* navbar menu */
nav{
    display: inline-block;
    text-align: right;
    width: 67%;
}
button{
    background-color:#00ABD6;
    color: aliceblue;
    border: none;
    width: 140PX;
    outline: none;
    border-radius: 3px;
    height: 40px;
}
.logo{
    display: inline-block;
    color:#00AED3;
    width: 30%;
    font-size: 24px;
    padding-left: 2%
}
.active{
    color: #00AED3;
}
.logo, nav{
    padding-top: 1%;
    padding-bottom: 1%;
}
.gros{
    font-weight: 700;
}