fieldset{
    width: 15%;
    margin: 0 auto;
    background-color: #191919;
    color: white;
}

.btn> input{
    background-color: #556B2F;
    border: none;
    border: 1px solid green;
    outline: none;
    padding: 7px 45px;
    margin-top: 6%;
    color: white;
}
.btn{
    text-align: center;
}
input {
    margin-bottom: 2%;
    border-radius: 10px;
}
legend{
    padding: 3%;
    margin:3%;
    font-size: 28px;
    font-weight: 700;
}
a{
    color:#556B2F;
}
form{    
    display: flex;
    flex-flow:column;
}
